{% extends('layouts/default.html') %}

{% block content %}
{% if request.path == url_for('nodes.all') %}
<h2>All Nodes</h2>
{% else %}
<h2>Your Nodes</h2>
{% endif %}

{% include 'includes/paginator.html' %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Suburb</th>
        <th>Manager</th>
        <th>Status</th>
        <th>Region</th>
        <th>Zone</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Elevation</th>
        <th>Antenna Height</th>
        <th>BGP AS</th>
    </tr>
{% for node in nodes %}
    <tr>
        <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.id}}</a></td>
        <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.name}}</a></td>
        <td>{{node.suburb.name}}</td>
        <td>{{node.user.name}}</td>
        <td>{{node.status.name}}</td>
        <td>{{node.region}}</td>
        <td>{{node.zone}}</td>
        <td>{{node.privacy_lat(current_user)}}</td>
        <td>{{node.privacy_lng(current_user)}}</td>
        <td>{{node.elevation}}</td>
        <td>{{node.antenna_height}}</td>
        <td>{{node.bgp_as}}</td>
    </tr>
{% endfor %}
</table>
{% include 'includes/paginator.html' %}
{% endblock %}