{% extends('layouts/default.html') %}

{% block content %}
<h2>{{page_title}}</h2>
{% include 'includes/paginator.html' %}
<table class="table">
    <tr>
        {% for name, field in field_list.items() %}
        <th>
            <a href="{{request.base_url}}?{%if page%}page={{page}}&amp;{%endif%}sort={{field.db_name}}&amp;sort_direction={%if sort.direction == 'asc' and sort.field == field.db_name%}desc{%else%}asc{%endif%}">
                {{field.name}}
                {%if sort.field == field.db_name and sort.direction == 'asc'%}
                <span class="glyphicon glyphicon-chevron-down"></span>
                {%elif sort.field == field.db_name and sort.direction == 'desc'%}
                <span class="glyphicon glyphicon-chevron-up"></span>
                {%endif%}
            </a>
        </th>
        {% endfor %}
    </tr>
{% for node in nodes %}
    <tr>
        <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.id}}</a></td>
        <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.name}}</a></td>
        <td><a href="{{url_for('nodes.list', filter='suburb', filter_id=node.suburb.name)}}">{{node.suburb.name|title}}</a></td>
        <td><a href="{{url_for('nodes.list', filter='user', filter_id=node.user.name)}}">{{node.user.name}}</a></td>
        <td><a href="{{url_for('nodes.list', filter='status', filter_id=node.status.name)}}">{{node.status.name|title}}</a></td>
        <td><a href="{{url_for('nodes.list', filter='region', filter_id=node.region)}}">{{node.region|compass_to_name}}</a></td>
        <td><a href="{{url_for('nodes.list', filter='zone', filter_id=node.zone)}}">{{node.zone|title}}</a></td>
        <td>{{node.privacy_lat(current_user)}}</td> 
        <td>{{node.privacy_lng(current_user)}}</td>
        <td>{{node.elevation}}</td>
        <td>{{node.antenna_height}}</td>
        <td>{{node.bgp_as|zero_as_none}}</td>
    </tr>
{% endfor %}
</table>
{% include 'includes/paginator.html' %}
{% endblock %}