{% extends('layouts/default.html') %}

{% block script %}
<script type="text/javascript">
    var jsdata = {
        'node_id': {{node.id}},
        'node_status': {{node.status_id}},
        'has_ap': {{node.has_ap|lower}},
        'lat': {{node.privacy_lat(current_user)}},
        'lng': {{node.privacy_lng(current_user)}},
    };
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/nodes/view.js')}}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_MAPS_API_KEY}}&callback=initMap"
  type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2>{{node.name}}</h2>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-node-info" id="node-{{node.id}}-info">
            <tr>
                <td><b>ID</b></td>
                <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.id}}</a></td>
            </tr>
            <tr>
                <td><b>Suburb</b></td>
                <td><a href="{{url_for('nodes.list', filter='suburb', filter_id=node.suburb.name)}}">{{node.suburb.name|title}}</a></td>
            </tr>
            <tr>
                <td><b>Manager</b></td>
                <td><a href="{{url_for('nodes.list', filter='user', filter_id=node.user.name)}}">{{node.user.name}}</a></td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td><a href="{{url_for('nodes.list', filter='status', filter_id=node.status.name)}}">{{node.status.name|title}}</a></td>
            </tr>
            <tr>
                <td><b>Region</b></td>
                <td><a href="{{url_for('nodes.list', filter='region', filter_id=node.region)}}">{{node.region|compass_to_name}}</a></td>
            </tr>
            <tr>
                <td><b>Zone</b></td>
                <td><a href="{{url_for('nodes.list', filter='zone', filter_id=node.zone)}}">{{node.zone|title}}</a></td>
            </tr>
            <tr>
                <td><b>Latitude</b></td>
                <td>{{node.privacy_lat(current_user)}}&deg;</td>
            </tr>
            <tr>
                <td><b>Longitude</b></td>
                <td>{{node.privacy_lng(current_user)}}&deg;</td>
            </tr>
            <tr>
                <td><b>Elevation</b></td>
                <td>{{node.elevation}}m ASL</td>
            </tr>
            <tr>
                <td><b>Antenna Height</b></td>
                <td>{{node.antenna_height}}m AGL</td>
            </tr>
            <tr>
                <td><b>BGP AS</b></td>
                <td>{{node.bgp_as|zero_as_none}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <div id="map" style="height: 402px; width: 100%;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Links</h3>
        <h4>Access Points</h4>
        {% if aps %}
        {% for ap in aps %}
        <h5>{{ap.interface.ssid}}<h5>
        <table class="table table-condensed">
            <tr>
                <td><b>DNS</b></td>
                <td>{{ap.host.fqdn}}</td>
            </tr>
            <tr>
                <td><b>IP Address</b></td>
                <td>{{ap.host.addr|ipv4address}}/{{ap.host.subnet.mask}}</td>
            </tr>
            <tr>
                <td><b>Frequency</b></td>
                <td>{%if ap.interface.freq != 0 %}{{ap.interface.freq}} MHz{%else%}Unknown{%endif%}</td>
            </tr>
            <tr>
                <td><b>Pre-shared Key</b></td>
                <td>{{ap.interface.passphrase}}</td>
            </tr>
        </table>
        <h6>Client Nodes</h6>
        {% if ap.clients %}
        <table class="table table-condensed table-sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th>IP Address</th>
                    <th style="white-space: nowrap">BGP AS</th>
                </tr>
            </thead>
            <tbody>
                {% for client in ap.clients %}
                <tr>
                    <td><a href="{{url_for('nodes.view', id=client.node.id)}}">{{client.node.id}}</a></td>
                    <td><a href="{{url_for('nodes.view', id=client.node.id)}}">{{client.node.name}}</a></td>
                    <td><a href="{{url_for('nodes.list', filter='user', filter_id=client.node.user.name)}}">{{client.node.user.name}}</a></td>
                    <td><a href="{{url_for('nodes.list', filter='status', filter_id=client.node.status.name)}}">{{client.node.status.name|title}}</a></td>
                    <td>{%if client.interface.host%}{{client.interface.host.addr|ipv4address}}/{{ap.host.subnet.mask}}{%else%}<i>Unknown</i>{%endif%}</td>
                    <td>{{client.node.bgp_as|zero_as_none}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><i>There are no Clients Nodes linked to this Access Point</i><br /></p>
        {% endif %}
        {% endfor %}
        {% else %}
        <p><i>This Node has no Access Points</i></br ></p>
        {% endif %}
        <h4>Point to Point</h4>
        {% if bbs %}
        <table class="table table-condensed table-sortable">
            <thead>
                <tr>
                    <th>Remote Node</th>
                    <th>Manager</th>
                    <th>Type</th>
                    <th>SSID</th>
                    <th>Frequency</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {% for bb in bbs %}
                <tr>
                    <td><a href="{{url_for('nodes.view', id=bb.clients[0].node.id)}}">{{bb.clients[0].node.name}}</a></td>
                    <td><a href="{{url_for('nodes.list', filter='user', filter_id=bb.clients[0].node.user.name)}}">{{bb.clients[0].node.user.name}}</a></td>
                    <td>{{bb.interface.mode|intmode_to_name}}</td>
                    <td>{{bb.interface.ssid}}</td>
                    <td>{%if bb.interface.freq != 0 %}{{bb.interface.freq}} MHz{%else%}Unknown{%endif%}</td>
                    <td>{{bb.host.addr|ipv4address}}/{{bb.host.subnet.mask}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><i>This Node has no Point to Point Links</i></br ></p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <h3>Networks</h3>
        <h4>Local Area Networks</h4>
        {% for subnet in node.subnets %}
        {% if subnet.type == 'LAN' %}
        <div class="col-xs-12 col-md-6 col-lg-4">
            <h5>{{subnet.addr|ipv4address}}/{{subnet.mask}}</h5>
            <table class="table table-condensed table-sortable">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Hostname</th>
                    </tr>
                </thead>
                <tbody>
                    {% for host in subnet.hosts %}
                    <tr>
                        <td>{{host.addr|ipv4address}}</td>
                        <td>{{host.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}