{% extends('layouts/default.html') %}

{% block script %}
<script type="text/javascript">
    var jsdata = {
        'node_id': {{node.id}},
        'lat': {{node.privacy_lat(current_user)}},
        'lng': {{node.privacy_lng(current_user)}},
    };
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/nodes/view.js')}}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_MAPS_API_KEY}}&callback=initMap"
  type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2>{{node.name}}</h2>
<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <tr>
                <td><b>ID</b></td>
                <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.id}}</a></td>
            </tr>
            <tr>
                <td><b>Suburb</b></td>
                <td><a href="{{url_for('nodes.list', filter='suburb', filter_id=node.suburb.name)}}">{{node.suburb.name|title}}</a></td>
            </tr>
            <tr>
                <td><b>Manager</b></td>
                <td><a href="{{url_for('nodes.list', filter='user', filter_id=node.user.name)}}">{{node.user.name}}</a></td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td><a href="{{url_for('nodes.list', filter='status', filter_id=node.status.name)}}">{{node.status.name|title}}</a></td>
            </tr>
            <tr>
                <td><b>name</b></td>
                <td><a href="{{url_for('nodes.view', id=node.id)}}">{{node.name}}</a></td>
            </tr>
            <tr>
                <td><b>Region</b></td>
                <td><a href="{{url_for('nodes.list', filter='region', filter_id=node.region)}}">{{node.region|compass_to_name}}</a></td>
            </tr>
            <tr>
                <td><b>Zone</b></td>
                <td><a href="{{url_for('nodes.list', filter='zone', filter_id=node.zone)}}">{{node.zone|title}}</a></td>
            </tr>
            <tr>
                <td><b>Latitude</b></td>
                <td>{{node.privacy_lat(current_user)}}&deg;</td>
            </tr>
            <tr>
                <td><b>Longitude</b></td>
                <td>{{node.privacy_lng(current_user)}}&deg;</td>
            </tr>
            <tr>
                <td><b>Elevation</b></td>
                <td>{{node.elevation}}m ASL</td>
            </tr>
            <tr>
                <td><b>Antenna Height</b></td>
                <td>{{node.antenna_height}}m AGL</td>
            </tr>
            <tr>
                <td><b>BGP AS</b></td>
                <td>{{node.bgp_as|zero_as_none}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <div id="map" style="height: 444px; width: 100%;"></div>
    </div>
</div>
<div class="row">
    <h3>Links</h3>
    <ul>
    {% for link in node.links %}
        <li>{{link.name}}</li>
    {% endfor %}
    </ul>

    <h3>Subnets</h3>
    <ul>
    {% for subnet in node.subnets %}
        <li>{{(subnet.addr|ipv4address|string + '/' + subnet.mask|string)|ipv4network}}</li>
        <ul>
    {% for host in subnet.hosts %}
            <li>{{host.addr|ipv4address}}: {{host.name}}</li>
    {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</div>
{% endblock %}