{% extends('layouts/default.html') %}

{% block content %}
<h2>View Node</h2>

<p><a href="{{url_for('nodes.node_list')}}">All Nodes</a></p>

<h3>{{node.name}}</h3>
<table>
    <tr>
        <td><b>ID</b></td>
        <td><a href="{{url_for('nodes.view_node', id=node.id)}}">{{node.id}}</a></td>
    </tr>
    <tr>
        <td><b>Suburb</b></td>
        <td>{{node.suburb.name}}</td>
    </tr>
    <tr>
        <td><b>Manager</b></td>
        <td>{{node.user.name}}</td>
    </tr>
    <tr>
        <td><b>Status</b></td>
        <td>{{node.status.name}}</td>
    </tr>
    <tr>
        <td><b>name</b></td>
        <td><a href="{{url_for('nodes.view_node', id=node.id)}}">{{node.name}}</a></td>
    </tr>
    <tr>
        <td><b>Region</b></td>
        <td>{{node.region}}</td>
    </tr>
    <tr>
        <td><b>Zone</b></td>
        <td>{{node.zone}}</td>
    </tr>
    <tr>
        <td><b>Lat</b></td>
        <td>{{node.lat}}</td>
    </tr>
    <tr>
        <td><b>Lng</b></td>
        <td>{{node.lng}}</td>
    </tr>
    <tr>
        <td><b>Elevation</b></td>
        <td>{{node.elevation}}</td>
    </tr>
    <tr>
        <td><b>Antenna Height</b></td>
        <td>{{node.antenna_height}}</td>
    </tr>
    <tr>
        <td><b>BGP AS</b></td>
        <td>{{node.bgp_as}}</td>
    </tr>
</table>

<h3>Links</h3>
<ul>
{% for link in node.links %}
    <li>{{link.name}}</li>
{% endfor %}
</ul>

<h3>Subnets</h3>
<ul>
{% for subnet in node.subnets %}
    <li>{{(subnet.addr|ipv4address|string + '/' + subnet.mask|string)|ipv4network}}</li>
    <ul>
{% for host in subnet.hosts %}
        <li>{{host.addr|ipv4address}}: {{host.name}}</li>
{% endfor %}
    </ul>
{% endfor %}
</ul>
{% endblock %}