<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('home')}}">{{config['SITENAME']}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        {% if current_user.is_authenticated %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nodes<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('nodes.list')}}">My Nodes</a></li>
          {% if current_user.in_group(3) %}
          <li><a href="{{url_for('nodes.all')}}">All Nodes</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </li>
      <li><a href="{{url_for('map')}}">Map</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        {% if current_user.is_authenticated %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.firstname}} {{current_user.surname}} ({{current_user.name}})<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
        </ul>
        {% else %}
        <a href="{{url_for('auth.login')}}" >Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
