{% if pagination and pagination.pages > 1%}
{% set sort_query = '&sort=' + sort.field + '&sort_direction=' + sort.direction %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
            {% if pagination.has_prev %}
            <a href="{{request.base_url}}?page={{pagination.prev_num}}{{sort_query}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
            <span aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </span>
            {% endif %}
            </li>
            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            <li{%if page_num == pagination.page%} class="active"{%endif%}>
                <a href="{{request.base_url}}?page={{page_num}}{{sort_query}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class="disabled"><span>...</span></li>
            {% endif %}
            {% endfor %}
            <li><a href="{{request.base_url}}?page=all{{sort_query}}">All</a></li>
            <li{% if not pagination.has_next %} class="disabled" {% endif %}>
            {% if pagination.has_next %}
            <a href="{{request.base_url}}?page={{pagination.next_num}}{{sort_query}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% else %}
            <span aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </span>
            {% endif %}
            </li>
    </ul>
</nav>
{% endif %}