# Flask Framework Config
DEBUG = False
SECRET_KEY = 'Hack Me Please'

# pynodedb App Config
SITENAME = 'pynodedb'
GOOGLE_MAPS_API_KEY = 'api key'

# Primary Database Config
DB_DRIVER = 'mysql'
DB_HOST = 'localhost'
DB_DATABASE = 'nodedb'
DB_USERNAME = 'nodedb'
DB_PASSWORD = 'password'

# Air-Stream OAuth
OAUTH_CLIENT_ID = 0
OAUTH_CLIENT_SECRET = 'secret key'
