{% extends 'layouts/map.html' %}

{% block script %}
<script type="text/javascript">
var jsdata = {
    'defaultCentre': "{{config.MAP_DEFAULT_CENTRE}}"
};
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/map.js')}}?{{random(8)}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_MAPS_API_KEY}}&callback=initMap"
    type="text/javascript"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/js-map-label/src/maplabel-compiled.js')}}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}?{{random(8)}}" />
{% endblock %}

{% block content %}
<div id="map"></div>
<div id="node-types" class="map-legend">
    <h5>Legend</h5>
    <h6>Nodes</h6>
    <div><input type="checkbox" id="cb-node-offline" class="cb-node" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-red.png')}}" /> Offline</div>
    <div><input type="checkbox" id="cb-node-1" class="cb-node" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-white.png')}}" /> Potential</div>
    <div><input type="checkbox" id="cb-node-2" class="cb-node" checked="checked" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-silver.png')}}" /> Planned</div>
    <div><input type="checkbox" id="cb-node-3" class="cb-node" checked="checked" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-purple.png')}}" /> In-build</div>
    <div><input type="checkbox" id="cb-node-4" class="cb-node" checked="checked" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-green.png')}}" /> Operational</div>
    <div><input type="checkbox" id="cb-node-ap" class="cb-node" checked="checked" /><img src="{{url_for('static', filename='vendor/small-n-flat/png/24/map-marker-blue.png')}}" /> Access Point</div>
    <h6>Links</h6>
    <div><input type="checkbox" id="cb-link-ptp" class="cb-link" checked="checked" /><span class="glyphicon glyphicon-minus" style="color: blue;"></span> Point to Point</div>
    <div><input type="checkbox" id="cb-link-ptmp" class="cb-link" checked="checked" /><span class="glyphicon glyphicon-minus" style="color: #0f0;"></span> Point to Multi-point</div>
    <div><input type="checkbox" id="cb-link-planned" class="cb-link" /><span class="glyphicon glyphicon-minus" style="color: grey;"></span> Planned</div>
    <div><input type="checkbox" id="cb-link-offline" class="cb-link" /><span class="glyphicon glyphicon-minus" style="color: red;"></span> Offline</div>
</div>
{% endblock %}